header,
main {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    height: 50px;
    width: 100px;
}

.desl{
    font-size: 17px;
    background-color: red;
    color: #fff;
}

.lig{
    font-size: 17px;
    background-color: green;
    color: #fff;
}